<!DOCTYPE html>
<head>
    <h1>
        "Attributes"
    </h1>
</head>
<body>
    <h1>
        "Select Attributes"
    </h1>

    <form method = 'POST',action=##>
        <input type="radio", value='classification',name='classification', onclick="">Classification
        <input type="radio", value='regression',name='regression',onclick=''>Regression
        <br>
        <select name="model">
            <option value='naivebayes'>naivebayes</option>
            <!-- var_smoothing=1e-9 -->
            <option value='knn'>Knn</option>
            <!-- n_neighbors = 5 ,leaf_size = 30 -->
            <option value='decisiontrees'>decisiontrees</option>
            <!-- max_depth=None,min_samples_split=2 -->
            <option value='randomforest'>randomforest</option>
            <!-- n_estimators=500,max_leaf_nodes=None,min_samples_split=2 -->
            <option value='linearreg'>linearreg</option>

            <option value='decisiontreereg'>decisiontreereg</option>
            <!-- max_depth=None,random_state=42,min_samples_split=2 -->
            <option value='randomforestreg'>randomforestreg</option>  
            <!-- n_estimators=500,max_leaf_nodes=None -->
            <option value='knnreg'>knnreg</option>
            <!-- n_neighbors = 5 ,leaf_size = 30 -->
        </select>
        <br>
        <label for="var_smoothing">var_smoothing</label><br>
        <input name="var_smoothing" type="number" maxlength="150" placeholder="enter a number"><br>
        <label for="n_neighbors">n_neighbors</label><br>
        <input name="n_neighbors" type="number"  placeholder="enter a number "><br>
        <label for="leaf_size">leaf_size</label><br>
        <input name="leaf_size" type="number" placeholder="enter a number "><br>
        <label for="max_depth">max_depth</label><br>
        <input name="max_depth" type="number" placeholder="enter a number by default None"><br>
        <label for="min_samples_split">min_samples_split</label><br> 
        <input name="min_samples_split" type="text" placeholder="enter a number by default 2"><br>
        <label for="n_estimators">n_estimators</label><br>
        <input name="n_estimators" type="text" placeholder="enter a number by default 100"><br>
        <label for="random_state">random state</label><br>
        <input name="random_state" type="number" placeholder="enter a number by default 42"> <br>
        <input type="submit"> 
    </form>
</body>
</html>