<!DOCTYPE html>
<head>
    <h1>
        "Attributes"
    </h1>
</head>
<body>
    <h1>
        "Select Attributes"
    </h1>

    <form method = 'POST',action="#">
        <input type="radio", value='classification',name='classification', onclick="">Classification
        <input type="radio", value='regression',name='regression',onclick=''>Regression
        <br>
        <select name="model"> model
            <option value='naivebayes'>naivebayes</option>
            <!-- var_smoothing=1e-9 -->
            <option value='knn'>Knn</option>
            <!-- n_neighbors = 5 ,leaf_size = 30 -->
            <option value='decisiontrees'>decisiontrees</option>
            <!-- max_depth=None,min_samples_split=2 -->
            <option value='randomforest'>randomforest</option>
            <!-- n_estimators=500,max_leaf_nodes=None,min_samples_split=2 -->
            <option value='linearreg'>linearreg</option>

            <option value='decisiontreereg'>decisiontreereg</option>
            <!-- max_depth=None,random_state=42,min_samples_split=2 -->
            <option value='randomforestreg'>randomforestreg</option>  
            <!-- n_estimators=500,max_leaf_nodes=None -->
            <option value='knnreg'>knnreg</option>
            <!-- n_neighbors = 5 ,leaf_size = 30 -->
        </select>
        <br>
        <label for="alpha">alpha</label><br>
        <input name="alpha" type="number" max="1" min="0" step="0.1" placeholder="enter a float" value="1"><br>
        <label for="n_neighbors">n_neighbors</label><br>
        <input name="n_neighbors" type="number"  placeholder="enter a number " value='5'><br>
        <label for="max_leaf_nodes">max_leaf_nodes</label><br>
        <input name="max_leaf_nodes" type="number"  placeholder="enter a number " value='50'><br>
        <label for="leaf_size">leaf_size</label><br>
        <input name="leaf_size" type="number" placeholder="enter a number " value='30'><br>
        <label for="max_depth">max_depth</label><br>
        <input name="max_depth" type="number" placeholder="enter a number by default None" value='50' ><br>
        <label for="min_samples_split">min_samples_split</label><br> 
        <input name="min_samples_split" type="number" placeholder="leave empty for default values" value='2' ><br>
        <label for="n_estimators">n_estimators</label><br>
        <input name="n_estimators" type="number" placeholder="enter a number" value='500'><br>
        <label for="random_state">random state</label><br>
        <input name="random_state" type="number" placeholder="enter a number by default 42" value='42' > <br>
        <input type="submit"> 
    </form>
</body>
</html>