<!DOCSTYLE HTML>

<HEAD></HEAD>
<title>THE GAME</title>
<h1> GUESS <br>THE <br>COLOR<br> <Span  id="displaycolor"></Span></h1>
<nav id="navbar">
	<button id = "but" class = "reset"> Reset </button>
	<span id="message"></span>
	<button id = "but"> Easy </button>
	<button id= "but"> Hard </button>
	
</nav>

<link rel="stylesheet" type="text/css" href="test.css">
<body>
	<h2 id ="win"></h2>
	<div id="container">
		<span id="win"></span>
		<div class = "square"></div>
		<div class = "square"></div>
		<div class = "square"></div>
		<div class = "square"></div>
		<div class = "square"></div>
		<div class = "square"></div>

	</div>

</body>
<script type="text/javascript" src="test.js"></script>
</html>
